/* override material-ui colors */
.MuiListItemIcon-root,
.MuiListItemText-root {
  color: #5f6caf !important;
}

.MuiAppBar-colorPrimary {
  background-color: #5f6caf !important;
}

h1 {
  color: #5f6caf;
}

h2 {
  color: #ffffff;
  padding-left: 5px;
  text-align: left;
}

.header {
  padding: 60px;
  text-align: center;
  background: #5bbfba;
  color: white;
  font-size: 30px;
}

/* override modal */
.modal {
  padding-top: 5%;
}

.modal-content {
  background-color: #5f6caf;
  color: white;
  font-size: 20px;
}
