/* override material-ui colors */
.MuiListItemIcon-root,
.MuiListItemText-root {
  color: #5f6caf !important;
}

.MuiAppBar-colorPrimary {
  background-color: #5f6caf !important;
}

h1 {
  color: #5f6caf;
}

canvas {
  height: 250px !important;
  width: 250px !important;
  display: inline !important;
  padding: 10px;
}
